<nav id="site-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<h1 class="navbar-brand">ellen teapot</h1>
		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<li class="nav-item"><a class="nav-link" href="/" title="go to the homepage">home</a></li>
			<li class="nav-item"><a class="nav-link" href="https://pronoun.is/she" title="pronoun island">pronoun.is/she</a></li>
			<li class="nav-item"><a class="nav-link" href="https://github.com/asmallteapot" title="it's sort of like napster, but for php">github</a></li>
			<li class="nav-item"><a class="nav-link" href="https://twitter.com/asmallteapot" title="follow me on twitter?">twitter</a></li>
		</ul>
	</div>
</nav>

